<template>
 <v-navigation-drawer
      v-model="drawer"
      fixed
      app
    >
       <v-toolbar flat class="transparent">
        <v-list class="pa-0">
          <v-list-tile avatar>
            <v-list-tile-avatar>
              <img src="../assets/logo.png">
            </v-list-tile-avatar>

            <v-list-tile-content>
              <v-list-tile-title>AG Plast</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list>
      </v-toolbar>

      <v-list class="pt-0" dense>
        <v-divider></v-divider>

        <v-list-tile
          v-for="item in items"
          :key="item.title"
          @click="goto(item.url)"
        >
          <v-list-tile-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-tile-action>

          <v-list-tile-content>
            <v-list-tile-title>{{ item.title }}</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
</template>
<script>
export default {
  name: "NavigationDrawer",
  props: {
    status: {
      type: Boolean,
      default: false,
      required: true
    }
  },
  data() {
    return {
      drawer: false,
      items: [
        { title: "Home", icon: "dashboard", url: "/" },
        { title: "Simulação", icon: "functions", url: "/simulacao" }
      ],
      mini: false,
      right: null
    };
  },
  methods: {
    goto(url) {
      this.$router.push(url);
    }
  },
  watch: {
    drawer: function() {
      this.$nuxt.$emit("eventDrawer", this.drawer);
    }
  },
  created() {
    this.$nuxt.$on("changeDrawer", status => {
      return (this.drawer = !status);
    });
  }
};
</script>
