<template>
  <v-tabs
    centered
    color="cyan darken-4"
    dark
    icons-and-text
  >
    <v-tabs-slider color="yellow"></v-tabs-slider>

    <v-tab href="#tab-1">
      <p class="tabsParagraph">Cálculo Total Homem</p>
      <v-icon medium>person_add</v-icon>
    </v-tab>

    <v-tab-item
      v-for="i in 3"
      :value="'tab-' + i"
      :key="i"
    >
    <v-container>
      <v-card flat>
        <slot :name="'tab-' + i"></slot>
      </v-card>
    </v-container>
    </v-tab-item>
  </v-tabs>
</template>
<script>
export default {
  data() {
    return {
      text:
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
    };
  }
};
</script>
<style scoped>
.tabsParagraph {
  margin-bottom: 0px;
  font-size: 11px
}
</style>

