<template>
  <v-toolbar color="cyan darken-4" dark fixed app tabs>
    <v-toolbar-side-icon @click.stop="draw"></v-toolbar-side-icon>
    <v-toolbar-title>Simulador</v-toolbar-title>
  </v-toolbar>
</template>
<script>
export default {
  data() {
    return {
      drawToolBar: false
    };
  },
  methods: {
    draw() {
      this.$nuxt.$emit("changeDrawer", this.drawToolBar);
      this.drawToolBar = !this.drawToolBar;
    }
  },
  created() {
    this.$nuxt.$on("eventDrawer", value => {
      this.drawToolBar = value;
    });
  }
};
</script>
