<template>
  <v-app id="inspire">
    <tool-bar @drawer="changeDrawer()"/>
    <navigation-drawer :status="drawerDefault"/>
    <v-content>
      <nuxt/>
    </v-content>
  </v-app>
</template>
<script>
import ToolBar from "~/components/ToolBar.vue";
import NavigationDrawer from "~/components/NavigationDrawer.vue";
import FooterApp from "~/components/Footer.vue";
export default {
  components: {
    ToolBar,
    NavigationDrawer,
    FooterApp
  },
  data: () => ({
    drawerDefault: false
  }),
  methods: {
    changeDrawer() {
      this.drawerDefault = !this.drawerDefault;
    }
  }
};
</script>
