<template>
  <div id="pageDashboard">
    <Tab>
      <cadastro-modelo slot="tab-1"/>
    </Tab>
  </div>
</template>
<script>
import CadastroModelo from "~/components/Form/CadastroModelo.vue";
import Tab from "~/components/Tab.vue";

export default {
  name: "cadastro",
  components: { CadastroModelo, Tab },
  data() {
    return {
      isCycle: false,
      items: [
        {
          component: "form-cadastro",
          src:
            "https://images.pexels.com/photos/204366/pexels-photo-204366.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
        },
        {
          component: "form-cadastro",
          src:
            "https://images.pexels.com/photos/204366/pexels-photo-204366.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
        }
      ]
    };
  }
};
</script>
<style scoped>
.carousel {
  opacity: 3;
}
</style>

